<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174532876748-16nlcvn6aceg60q7spcvaihr2tn31fg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174532876748-16nlcvn6aceg60q7spcvaihr2tn31fg8</string>
	<key>API_KEY</key>
	<string>AIzaSyBVFdHN1QJSd_0LKFL6Smq1aOQsUnIUjKM</string>
	<key>GCM_SENDER_ID</key>
	<string>174532876748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hella</string>
	<key>PROJECT_ID</key>
	<string>hella-5e7ba</string>
	<key>STORAGE_BUCKET</key>
	<string>hella-5e7ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174532876748:ios:ea04c67637c570e138e569</string>
</dict>
</plist>